<table class="table table-hover w-100">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody *ngFor="let item of this.category">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.Name}}</td>
            <td><a routerLink="/category-update/{{item.id}}" class="btn btn-warning">Update</a></td>
            <td><a  (click)="delete(item)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>